
body{
    font-family: 'Poppins',sans-serif;
}


.navbar{
    display:flex;
    justify-content: space-between;
    padding:64px 0 ;
}

.navbar .left{
    font-size:32px;
    font-weight:bolder;
}

.navbar .right a {
    text-decoration: none;
    color:black;
}

.navbar .right {
    width:400px;
    border:1px solid black;
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.navbar .right a:hover{
    text-decoration: underline;
    color:black;
}

.navbar .right img {
    width:24px;
    height:24px;
}

.project-grid{
    display:grid;
    grid-template-areas:"eth eth alphabet"
                        "eth eth traveler"
                        "astro cube traveler"
                        "cup insta insta"
                        "cup insta insta"
                        "foam foam dismensional"
                        "foam foam dismensional";
   
    gap:16px;
    width:100%;
    max-width:90%;
    margin:0 auto;

}

#eth {
    grid-area:eth;
}


#alphabet{
    grid-area:alphabet;
}


#traveler{
    grid-area:traveler;
}


#cube{
    grid-area:cube;
}


#astro{
    grid-area:astro;
}

#cup{
    grid-area:cup;
}

#insta{
    grid-area:insta;
}


#cup{
    grid-area:cup;
}

#insta{
    grid-area:insta;
}

#foam{
    grid-area:foam;
}

#dimensional{
    grid-area:dismensional;
}

.project{
    position:relative;
}


.project img {
    width:100%;
    height:100%;
    object-fit:cover;
}


.project .overlay{
    position:absolute;
    background-color: rgba(255,255,255,0.5);
    top:0;
    left:0;
    width: 100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    margin:0;
    font-size:36px;
    font-weight:bold;
    letter-spacing:2px;
    opacity: 0;
    transition: all 0.7s ease;
}



.project .overlay:hover{
    opacity: 1;
    cursor: pointer;
}
 .white {
    color:white;
}






@media only screen  and (max-width:1100px){


    .project-grid{
        grid-template-areas:
        "eth eth"
        "alphabet traveler"
        "cube astro"
        "insta insta"
        "cup foam"
        "dismensional dismensional ";
        max-width:100%;
    }
}

@media only screen and (max-width:768px){

    .project-grid{
        grid-template-areas:
        "eth eth"
        "alphabet alphabet"
        "traveler traveler"
        "astro cube"
        "insta insta"
        "cup cup"
        "foam foam"
        "dismensional dismensional";
        
    }


    .project .overlay{
        font-size:24px;
    }



}